*{
	margin: 0px;
	padding: 0px;
}
.li{
	float: left;
}
.ri{
	float: right;
}
.header{
	background-color: #efefef;
	height: 880px;
	width: 100%;
}
.main{
	width: 100%;
	position: relative;
}
.content{
	width: 1000px;
	height: 100%;
	margin: 0 auto;
}
.nav{
	width: 941px;
	height: 74px;
	position: absolute;
	background-color: rgb(65,65,70);
	left: 480px;
	top: 30px;
}
.logo{
	float: left;
	padding: 25px;
	width: 100px;
	height: 20px;
}
.logo img{
	width: 100px;
	height: 20px;
}
.menu{
	float: left;
	margin-left: 100px;
}
.menu li{
	float: left;
	list-style-type: none;
	font-family: 'OswaldLight',Arial,Helvetica,sans-serif;
	position: relative;
}
.menu li a{
	text-decoration: none;
	color: #fff;
	font-size: 14px;
	padding: 29px 17px;
	line-height: 74px;
}
.menu li a:hover{
	color: #414146;
	background-color: #ffea00;
}
.menu li ul{
	position: absolute;
	display: none;
}
.menu ul li:hover ul{ /*使用css实现导航消失*/
	display: block;
}
.menu li ul li{
	float: none;
	background-color: #535961;
	padding: 0px;
}
.menu li ul li a{
	width: 150px;
	display: inline-block;
	padding: 0 15px;
	font-size: 12px;
	height: 45px;
	line-height: 45px;
}
.search{
	float: right;
	height: 74px;
	width: 
}
.search input{
	border:none;
	width: 120px;
	height: 74px;
	background-color: #565a60;
	padding: 9px 10px;
	float: left;
	display: block;
	color: #c1c1c1;
	outline: none;/*取消聚焦时显示外边框*/
}
.search button{
	width: 38px;
	height: 74px;
	border: none;
	background-color: #565a60;
	background: url(images/search-submit.png) no-repeat center;
}
.search button:hover{
	cursor: pointer;
	background: url(images/search-submit-hover.png) no-repeat center;
	background-color: #ffea00;
}

/*pic*/
.pic{
	width: 100%;
	height: 666px;
	overflow: hidden;
}
.pic img{
	width: 100%;
	height: 100%;
}

/*ad*/
.ad{
	width: 100%;
	height: 89px;
	background-color: #565a60;
	margin-top: 37px;
}
.ad img{
	float: left;
	width: 31px;
	height: 29px;
	padding: 30px;
	background-color: #ffea00;
	display: block;
}
.ad span{
	font-weight: bold;
}
.text{
	color: #fff;
	font-family: 'OswaldLight',Arial,Helvetica,sans-serif;
	font-weight: normal;
	float: left;
	padding: 0px 20px;
}
.ad h2{
	font-size: 20px;
	padding: 20px 0px 10px;
}
.ad p{
	color: #b8bcc1;
	font-size: 12px;
}
.ad a{
	float: right;
	text-decoration: none;
	background-color: #ffea00;
	color: #414146;
	display: block;
	font-family: 'OswaldLight',Arial,Helvetica,sans-serif;
	width: 150px;
	height: 29px;
	padding: 30px;
	font-size: 20px;
	line-height: 29px;
}
.ad a:hover{
	color: #fff;
	background-color: #414146;
}

/*info*/
.info{
	margin-top: 70px;
	color: #414146;
	font-family: 'OswaldLight',Arial,Helvetica,sans-serif;
	font-size: 24px;
	padding: 5px;
	border-bottom:5px solid #EFEFEF;
	height: 108px;
	width: 250px;
	padding-bottom: 10px;
}
.info span{
	font-weight: bold;
}
