*{
	margin: 0px;
	padding: 0px;
}
.li{
	float: left;
}
.ri{
	float: right;
}

.header{
	width: 100%;
	height: 63px;
	background-color: #eceef4;
}
.content{
	width: 1000px;
	height: 62px;
	margin: 0 auto;
}
.interlink{
	float: left;
	margin-top: 16px;
}
.interlink li{
	float: left;
	list-style-type: none;
	margin-right: 5px;
	width: 90px;
	height: 22px;
	background-color: #fff ;
	border-radius: 5px;
	padding:5px 10px;
}
.interlink a{
	text-decoration: none;
	color: #6d6e71;
	padding-left: 40px;
	display: inline-block;
	height: 21px;
}
.share li{
	float: right;
	margin-right: -1px;/*消除边框重叠*/
	padding: 20px;
	border: 1px solid #dee0e6;
	border-style:none solid;/*只设置左右两边边框*/
	height: 23px;
}

.main{
	margin: 0 auto;
}
.top{
	height: 220px;
	width: 100%;
	/*border: 1px solid black;*/
	border-bottom: 1px solid #eceef4;
}
.top_content, .nav{
	width: 1000px;
	margin: 0 auto;
}
.top_content{
	height: 220px;
}
.logo{
	margin-top: 63px;
}
.weblink{
	margin-right: 32px;
	line-height: 220px;
}
.weblink li{
	float: right;
	border-left: 1px solid #bcbec3;
	text-align: center;
	width: 70px;
	margin-top: 127px;
	/*border: 1px solid black;*/
}
.weblink a{
	display: block;
	/*border: 1px solid red;*/
}

.nav,.nav-con{
	height: 80px;
}
.nav-con li{
	float: left;
	list-style-type: none;
	font-size: 13px;
	font-weight: bold;
	border-left: 1px solid #eceef4;
}
.nav-con a{
	text-decoration: none;
	color: #6d6e71;
	font-family: "黑体";
	height: 20px;
	padding: 30px 20px;
	display: block;
}
.nav-con a:hover{
	color: #1faae2;
	background: url(images/nav_act.png) no-repeat bottom center;
}

.home{
	height: 885px;
	background: url(images/bg.jpg) no-repeat top center;
	position: relative;
}
.con-text{
	padding-top: 266px;
	margin-left: 618px;
}

.pic{
	position: absolute;
	bottom: 125px;
	right: 320px;
}
.pic_i1,.pic_i2{
	height: 240px;
	width: 323px;
}
.pic_i1{
	background: url(images/pic1.jpg);
}
.pic_i2{
	background: url(images/pic2.jpg);
}
.pic_bu{
	/*background-color: rgba(138,202,81,0.9);*/
	width: 323px;
	height: 65px;
	bottom: 0px;
	position: absolute;
	display: none;
}
.pic_bu:hover{
	display: block;
}
.pic_bu1{
	background: url(images/pic1.png);
}
.pic_bu2{
	background: url(images/pic2.png);
}
.pic_ar{
	width: 111px;
	height: 240px;
	background: url(images/pic_bu.jpg);
}

.isama{
	margin: 0 auto;
	width: 1300px;
	height: 360px;
}
.is1,.is2{
	width: 567px;
	height: 390px;
	color: #6d6e71;
	text-align: justify;
}
.is1 img,.is2 img{
	float: left;
	padding:30px 30px 247px 0px;
}
.is1 h1,.is2 h1{
	padding: 50px 0px 10px 0px;
}
.is1{
	margin-right: 100px;
}


.service{
	height: 950px;
	width: 1400px;
	margin: 0 auto;
	background: url(images/ser_bg.png) no-repeat top;
}
.service img{
	float: left;
	padding-right: 35px;
	padding-bottom: 70px;
	text-align: center;
	vertical-align: middle;
}

.ser_title{
	width: 580px;
}
.ser_title{
	height: 160px;
	margin: 0 auto;
}
.ser_title img{
	padding-bottom: 10px;
}
.ser_title h1{
	font-size: 45px;
}
.ser_content{
	margin: 0 auto;
	width: 1400px;
}
.ser_item{
	height: 90px;
	float: left;
	margin-top: 100px;
	margin-right: 160px;
	margin-left: 30px;
	width: 500px;
}
.ser_item h1{
	font-size: 25px;
	margin-bottom: 25px;
}