*{
	margin: 0px;
	padding: 0px;
}
.li{
	float: left;
}
.ri{
	float: right;
}

.header{
	width: 100%;
	height: 63px;
	background-color: #eceef4;
}
.content{
	width: 1000px;
	height: 62px;
	margin: 0 auto;
}
.interlink{
	float: left;
	margin-top: 16px;
}
.interlink li{
	float: left;
	list-style-type: none;
	margin-right: 5px;
	width: 90px;
	height: 22px;
	background-color: #fff ;
	border-radius: 5px;
	padding:5px 10px;
}
.interlink a{
	text-decoration: none;
	color: #6d6e71;
	padding-left: 40px;
	display: inline-block;
	height: 21px;
}
.share li{
	float: right;
	margin-right: -1px;/*消除边框重叠*/
	padding: 20px;
	border: 1px solid #dee0e6;
	border-style:none solid;/*只设置左右两边边框*/
	height: 23px;
}

.main{
	margin: 0 auto;
	position: relative;
}
.top{
	height: 220px;
	width: 100%;
	/*border: 1px solid black;*/
	border-bottom: 1px solid #eceef4;
}
.top_content, .nav{
	width: 1000px;
	margin: 0 auto;
}
.top_content{
	height: 220px;
}
.logo{
	margin-top: 63px;
}
.weblink{
	margin-right: 32px;
	line-height: 220px;
}
.weblink li{
	float: right;
	border-left: 1px solid #bcbec3;
	text-align: center;
	width: 70px;
	margin-top: 127px;
	/*border: 1px solid black;*/
}
.weblink a{
	display: block;
	/*border: 1px solid red;*/
}

.nav,.nav-con{
	height: 80px;
}
.nav-con li{
	float: left;
	list-style-type: none;
	font-size: 13px;
	font-weight: bold;
	border-left: 1px solid #eceef4;
}
.nav-con a{
	text-decoration: none;
	color: #6d6e71;
	font-family: "黑体";
	height: 20px;
	padding: 30px 20px;
	display: block;
}
.nav-con a:hover{
	color: #1faae2;
	background: url(images/nav_act.png) no-repeat bottom center;
}

.home{
	height: 885px;
	background: url(images/bg.jpg) no-repeat top center;
	position: relative;
}
.con-text{
	padding-top: 266px;
	margin-left: 618px;
}

.pic{
	position: absolute;
	bottom: 125px;
	right: 320px;
}
.pic_i1,.pic_i2{
	height: 240px;
	width: 323px;
}
.pic_i1{
	background: url(images/pic1.jpg);
}
.pic_i2{
	background: url(images/pic2.jpg);
}
.pic_bu{
	/*background-color: rgba(138,202,81,0.9);*/
	width: 323px;
	height: 65px;
	bottom: 0px;
	position: absolute;
	display: none;
}
.pic_bu:hover{
	display: block;
}
.pic_bu1{
	background: url(images/pic1.png);
}
.pic_bu2{
	background: url(images/pic2.png);
}
.pic_ar{
	width: 111px;
	height: 240px;
	background: url(images/pic_bu.jpg);
}

.isama{
	margin: 0 auto;
	width: 1300px;
	height: 360px;
}
.is1,.is2{
	width: 567px;
	height: 390px;
	color: #6d6e71;
	text-align: justify;
}
.is1 img,.is2 img{
	float: left;
	padding:30px 30px 247px 0px;
}
.is1 h1,.is2 h1{
	padding: 50px 0px 10px 0px;
}
.is1{
	margin-right: 100px;
}

/*service*/
.service{
	height: 900px;
	width: 1400px;
	margin: 0 auto;
	background: url(images/ser_bg.png) no-repeat top;
	color: #6d6e71;
}
.ser_title img,.ser_item img,.pro_title img{
	float: left;
	padding-right: 35px;
	padding-bottom: 70px;
	text-align: center;
	vertical-align: middle;
}

.ser_title,.pro_title{
	width: 580px;
	height: 160px;
	margin: 0 auto;
}
.ser_title img,.pro_title img{
	padding-bottom: 10px;
}
.ser_title h1,.pro_title h1{
	font-size: 45px;
	margin-bottom: 10px;
}
.ser_content{
	margin: 0 auto;
	width: 1400px;
}
.ser_left{
	margin-left: 140px;
	width: 500px;
}
.ser_right{
	float: left;
}
.ser_pic{
	margin:80px 60px 0px;
	float: left;
}
.ser_item{
	height: 90px;
	margin-top: 100px;
	width: 500px;
}
.ser_item h1{
	font-size: 25px;
	margin-bottom: 25px;
}

/*project*/
.project{
	color: #6d6e71;
	background: url(images/pro_bg.jpg);
	height: 1080px;
	margin: 0 auto;
}
.pro_title{
	padding-top: 70px;
}
.pro_title h1{
	margin-top: 50px;
}
.pro_tab{
	margin: 60px auto 40px;
	width: 900px;
	height: 80px;
}
.pro_tab li{
	float: left;
	list-style-type: none;
}
.pro_tab a{
	display: block;
	color: #bbb;
	text-decoration: none;
	margin: 20px;
	padding: 12px 30px;
	border: 2px solid #bbb;
	border-radius: 5px;
	font-weight: bold;
}
.pro_tab a:hover{
	border: 2px solid #fff;
	border-radius: 5px;
	color: #6d6e71;
	background-color: #fff;
}
.pro_ad{
	width: 1180px;
	margin: 0 auto;
}
.pro_item{
	width: 275px;
	height: 282px;
	border-color: #fff;
	border: 1px solid #fff;
	border-radius: 5px;
	background-color: #fff;
	float: left;
	margin: 8px;
}
.ad_pic img{
	border: 1px solid #f5f5f5;
	border-radius: 5px;
	width: 251px;
	height: 206px;
	margin: 15px 10px 0px;
}
.ad_link{
	width: 23px;
	height: 23px;
	float: left;
	padding: 18px 51px;
}
.pro_link img{
	float: left;
	text-align: center;
}

/*up*/
.up{
	position: absolute;
	right: 220px;
	bottom:80px;
}

/*team*/
.team{
	height: 770px;
}
.team_title{
	color: #6d6e71;
	height: 170px;
	width: 700px;
	margin: 40px auto;
}
.team_title img{
	padding-bottom: 0px;
	float: left;
	padding-right: 10px;
}
.team_title h1{
	padding-top: 70px;
}
.team_info{
	width: 1200px;
	height: 450px;
	margin: 0 auto;
}
.team_item{
	float: left;
	margin: 5px;
	height: 400px;
	widows: 280px;
}
.team_top{
	width: 275px;
	height: 305px;
	border: 1px solid #f5f5f5;
	border-radius: 5px 5px 0px 0px;
	background-color: #f5f5f5;
	color: #6d6e71;
}
.team_top img{
	margin: 45px 70px;
}
.team_top h1{
	margin-top: -15px;
	text-align: center;
}
.team_top p{
	text-align: center;
}
.team_middle{
	height: 65px;
	width: 247px;
	padding-left: 30px;
}
.team_middle img{
	display: block;
	float: left;
	margin: 22px 15px;
}
.team_bottom{
	border: 1px solid #f5f5f5;
	border-radius: 0px 0px 5px 5px;
	background-color: #f5f5f5;
	width: 275px;
	height: 26px;
}

/*map*/
.map{
	width: 100%;
	overflow: hidden;
	height: 498px;
	position: relative;
	background: url(images/map.jpg);
}
#local{
	position: absolute;
	right: 500px;
	top: 100px;
}
.loc-con{
	margin: 10px auto;
	width: 300px;
	margin-top: 400px;
}
.footer{
	background-color: #2b2c2d;
	height: 264px;
	width: 100%;
}
.footer_top{
	width: 1000px;
	margin: 0 auto;
	padding-top: 50px;
}
.foo-con{
	float: left;
}
.foo-con li{
	float: left;
	padding: 20px;
	border: 2px solid #3c3e3f;
	margin-right: -2px;
	list-style-type: none;
	border-style: none solid;
}

.footer_con{
	display: block;
	color: #6d6e71;
	margin: 0 auto;
	margin-top: 150px;
	width: 1200px;
}
.footer_con span{
	margin-right: 400px;
}
.footer_con a{
	color: #6d6e71;
	text-decoration: none;
	display: inline-block;
}